<div *ngIf="service.formData.id == 0 || service.formData.id == null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><div class="font-weight-bold text-success">Input a new record</div><br />
                        <div class="small font-italic">Type in the fields below, and click Save to create a new record in the database or click <b>Cancel</b> to clear the form and start again.</div></ng-template>
<ng-template #elseBlock><div class="font-weight-bold text-warning">Editing a record</div><br />
                        <div class="small font-italic">You are editing record id {{service.formData.id}}. Once you've made your changes, click <b>Save</b> or click <b>Cancel</b> to stop editing without saving changes.</div></ng-template>
<br/>
<form novalidate #form="ngForm" (submit)="onSubmit(form)" class="was-validated">
  <input type="hidden" name="id"
         value="service.formData.id" />
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Name"
             name="name" #name="ngModel" [(ngModel)]="service.formData.name" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" type="date" placeholder="D.O.B."
             name="dateOfBirth" #dateOfBirth="ngModel"  [(ngModel)]="service.formData.dateOfBirthString"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Address Line 1"
             name="addressLine1" #addressLine1="ngModel" [(ngModel)]="service.formData.addressLine1" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Address Line 2"
             name="addressLine2" #addressLine2="ngModel" [(ngModel)]="service.formData.addressLine2" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Street"
             name="street" #street="ngModel" [(ngModel)]="service.formData.street" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Town"
             name="postTown" #fpostTown="ngModel" [(ngModel)]="service.formData.postTown" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="County"
             name="county" #county="ngModel" [(ngModel)]="service.formData.county" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Post Code"
             name="postCode" #postCode="ngModel" [(ngModel)]="service.formData.postCode" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Email Address"
             name="emailAddress" #emailAddress="ngModel" [(ngModel)]="service.formData.emailAddress" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <input class="form-control form-control-sm" placeholder="Phone Number"
             name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="service.formData.phoneNumber" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md">
      <label>&nbsp;</label>
      <button class="btn btn-primary btn-sm btn-block" type="submit" [disabled]="form.invalid">Save</button>
    </div>
    <div class="form-group col-md">
      <label>&nbsp;</label>
      <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="resetForm(form)">Cancel</button>
    </div>
  </div>
</form>
