<div class="welcome">
  <h1>UK Parliament - Software Engineering</h1>
  <p>Thanks for taking the time to do our recruitment home exercise</p>
</div>

<h2>Overview</h2>
<p>
  Create a small person manager app - it doesn't have to be complicated! A list of people on the left, and an area to the right where a user can edit existing people / add new people
</p>

<h2>Project</h2>
<p>We've setup a template project for you. It includes:</p>
<ul>
  <li>Angular frontend embedded in a .net core application (All UI components should be implemented in Angular)</li>
  <li>.net core web app (A person controller exists for you to create an API)</li>
  <li>Services assembly (To contain any services you might require)</li>
  <li>Data assembly (Houses the in-memory database context and a simple person model)</li>
  <li>Test assembly (For tests!)</li>
</ul>


<h2>Instructions</h2>
<p>To complete this exercise please modify this solution and do the following:</p>
<ul>
  <li>Extend the person model in the data assembly to include some other properties such as DateOfBirth and Address, as well as anything else you'd like to add</li>
  <li>Display a list of people already configured in the database on the left of the page. Display people as a simple card or similar.</li>
  <li>Create an editor for people on the right of the list - a user should be able to edit all the properties (apart from Id!)</li>
  <li>Add the ability to save existing people / create new people</li>
  <li>Persist this in the backend in the in-memory database has been configured for you</li>
  <li>Add the ability to delete a person via a dropdown option on the card</li>
  <li>Please play consideration to the visual design of the finished product</li>
</ul>
